!!!
%html{lang: 'en'}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Siltin
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  %body
    - if current_supplier
      = link_to "Log out", destroy_supplier_session_url, method: :delete, class: "btn btn-info pull-right"
    - else
      = link_to "Admin", new_admin_session_url, class: "btn btn-success pull-right"
      = link_to "Supplier", new_supplier_session_url, class: "btn btn-warning pull-right"
    = #render 'header'
    = flash_messages
    = yield
